body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

fieldset {
    display: grid;
    place-items: center;
    gap: 0.5rem;
}

#container {
    display: grid;
    place-items: center;
    gap: 0.5rem;
}