* {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #202124;
    color: #e8eaed;
}

#taschenrechner * {
    color: inherit;
}



#taschenrechner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

#anzeige {
    grid-column: span 4;
    border: 1px solid #3c4043;
    border-radius: 0.5em;
    padding: 0.5em;
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#eingabefeld {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    text-align: inherit;
}

#eingabefeld:focus-visible {
    outline: none;
}

#anzeige:focus-within {
    outline: 1px solid white;
}

.taste {
    background-color: #4c5053;
    border: none;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

.taste:hover {
    background-color: #424548;
}

#rechenweg-anzeige {
    line-height: 1.2;
    height: 1.2rem;
}

#rechenweg-anzeige.fehler {
    color: #ff8080;
}