body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

 fieldset {
    display: grid;
    place-items: center;
    gap: 0.5rem;
}

div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 0.5rem;
}

li {
    list-style: none;
}